form {
    display: grid;
    justify-content: center;
    font-family: inherit;
    padding: 10px;
}

label {
    padding: 10px;
    align-self: center;
}

textarea {
    padding: 10px;
}

button {
    padding: 10px;
    width: 60%;
}